<!DOCTYPE html>
<html>
<head>
    <title>Dental Clinic</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to the Dental Clinic</h1>
        <ul class="list-group mt-3">
            <li class="list-group-item"><a href="{% url 'appointments' %}">View Appointments</a></li>
            <li class="list-group-item"><a href="{% url 'treatments' %}">View Treatments</a></li>
            <li class="list-group-item"><a href="{% url 'invoices' %}">View Invoices</a></li>
            <li class="list-group-item"><a href="{% url 'feedbacks' %}">View Feedbacks</a></li>
        </ul>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
